doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title subcollider.js - documents
    link(rel="stylesheet", href="./index.css")
    link(rel="stylesheet", href="./prettify.css")
    script(src="./jquery-2.0.0.min.js")
    script(src="./prettify.js")
    script(src="../builds/subcollider.js")
    script(src="./index.js")
  body
    h1
      a(href="..") subcollider.js
      sup v0.1.1
    #doc-index
      - data.index.forEach(function(obj) {
        h2 #{obj.category}
        ul
          - obj.data.forEach(function(obj) {
            li: a(href="##{obj.tag}") #{obj.name}
          - });
      - });
    #doc-body
      - data.body.forEach(function(obj) {
        div(id=obj.tag).doc-block
          .doc-head
            ul.category
              - obj.category.reverse().forEach(function(category) {
                li #{category}
              - });
            h3 #{obj.name}
          .doc-body
            - if (obj.description)
              .desc !{obj.description}
            - ["arguments", "returns", "aliases"].forEach(function(key) {
            -   if (obj[key]) {
                  h4 #{key.charAt(0).toUpperCase() + key.substr(1)}:
                  div(class="#{key}") !{obj[key]}
            -   }
            - });
            - if (obj.example) {
              h4 Example:
              pre(class="prettyprint lang-js") #{obj.example}
            - }
            div.doc-source
              a(href="https://github.com/mohayonao/subcollider.js/blob/master/#{obj.src}") View Source on GitHub
              a(href="##{obj.tag}") #
      - });
